.student-layout {
  display: flex;
  background-color: white;
}
 
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  padding: 20px;
  background-color: white;
  border-right: 1px solid #e0e0e0;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  font-family: 'Mulish', Halvetica, Arial, sans-serif;
}
 
.sidebar-buttons {
  background-color: #f8f8ff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
 
/* button{
  border: 1px solid black !important;
  background-color: #f8f8ff !important;
} */
 
.sidebar button {
  border: 1px solid #e0e0e0 !important;
  background-color: #f8f8ff !important;
  color: #333;
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}
 
.sidebar button.active {
  background-color: #ec5c59 !important;
  color: white;
}
 
.sidebar button:hover {
  background-color: #ec5c59 !important;
  color: white !important;
}
 
.followers {
  background-color: #f8f8ff;
  padding: 10px;
  border-radius: 5px;
}
 
.sidebar-header {
  margin-bottom: 10px;
  text-align: center;
 
}
 
.sidebar-header h1 {
  font-size: 18px;
  color: #333;
  margin-bottom: 0px;
  font-family: 'Mulish', Halvetica, Arial,sans-serif;
  font-weight: 500;
}
 
.sidebar-header input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}
 
.following-list-container {
  max-height: calc(95vh - 400px);
  overflow-y: auto;
}
 
.following-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
 
/* Custom scrollbar for sidenav */
.following-list li::-webkit-scrollbar {
  width: 8px;
}
 
.following-list li::-webkit-scrollbar-thumb {
  background-color: rgb(247, 187, 169); /* Customize scrollbar thumb color */
  border-radius: 4px;
}
 
.following-list li::-webkit-scrollbar-thumb:hover {
  background-color: #ed7371; /* Change color on hover */
}
 
.following-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-bottom: 1px solid #e0e0e0;
}
 
.following-list li:hover {
  background-color: #f0f0f0;
}
 
.following-list li.active {
  background-color: #e6f7ff;
}
 
.person-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
 
.person-name {
  flex-grow: 1;
}
 
.person-symbol {
  font-weight: bold;
  color: #4CAF50;
  transition: transform 0.3s;
  font-size: 10px;
}
 
.person-symbol.active {
  color: #f44336;
  /* transform: rotate(45deg); */
}
 
.person-symbol.loading {
  color: #ffa500;
  animation: pulse 1s infinite;
}
 
@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
 
.content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
}
 
 