<button [routerLink]="['/studentdashboard']" style="display: flex; justify-content: start; border: none; width: 30px;"  ><i class="fa-solid fa-arrow-left"></i></button>
<div class="certificate" *ngIf="course && user">
    <div class="certificate-header">
      <h1>Certificate of Course Completion</h1>
    </div>
    <div class="certificate-body">
      <p>This certifies that</p>
      <p class="name">{{ user.name }}</p>
      <p>has successfully completed the course</p>
      <p class="course-title"><strong>{{ course.courseTitle }}</strong></p>
      <p>Course Duration: <strong>{{ course.courseDuration }}</strong> weeks</p>
    </div>
    <div class="certificate-footer">
      <p class="date">Awarded on {{ awardDate | date:'longDate' }}</p>
      <p>Instructor: <strong>{{ course.user.name }}</strong></p>
    </div>
    <button (click)="downloadCertificate()">Download Certificate</button>
  </div>
  
  
<!-- 
  <body>
    <div class="container pm-certificate-container">
      <div class="outer-border"></div>
      <div class="inner-border"></div>
      
      <div class="pm-certificate-border col-xs-12">
        <div class="row pm-certificate-header">
          <div class="pm-certificate-title cursive col-xs-12 text-center">
            <h2>Certificate of {{ course.courseTitle }} Completion</h2>
          </div>
        </div>
  
        <div class="row pm-certificate-body">
          
          <div class="pm-certificate-block">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-2"></div>
                  <div class="pm-certificate-name underline margin-0 col-xs-8 text-center">
                    <span class="pm-name-text bold">FusionIQ.Ai</span>
                  </div>
                  <div class="col-xs-2"></div>
                </div>
              </div>          
  
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-2"></div>
                  <div class="pm-earned col-xs-8 text-center">
                    <span class="pm-earned-text padding-0 block cursive">{{ user.name }}</span>
                    <span class="pm-credits-text block bold sans">{{ course.courseDuration }}weeks</span>
                  </div>
                  <div class="col-xs-2"></div>
                  <div class="col-xs-12"></div>
                </div>
              </div>
              
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-2">LEAVE EMPTY</div>
                  <div class="pm-course-title col-xs-8 text-center">
                    <span class="pm-earned-text block cursive">while completing the training course {{ course.courseTitle }} </span>
                  </div>
                  <div class="col-xs-2">LEAVE EMPTY</div>
                </div>
              </div>
  
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-2">LEAVE EMPTY</div>
                  <div class="pm-course-title underline col-xs-8 text-center">
                    <span class="pm-credits-text block bold sans">BPS PGS Initial PLO for Principals at Cluster Meetings</span>
                  </div>
                  <div class="col-xs-2">LEAVE EMPTY</div>
                </div>
              </div>
          </div>       
          
          <div class="col-xs-12">
            <div class="row">
              <div class="pm-certificate-footer">
                  <div class="col-xs-4 pm-certified col-xs-4 text-center">
                    <span class="pm-credits-text block sans">Buffalo City School District</span>
                    <span class="pm-empty-space block underline"></span>
                    <span class="bold block">Crystal Benton Instructional Specialist II, Staff Development</span>
                  </div>
                  <div class="col-xs-4">
                    LEAVE EMPTY
                  </div>
                  <div class="col-xs-4 pm-certified col-xs-4 text-center">
                    <span class="pm-credits-text block sans">Date Completed</span>
                    <span class="pm-empty-space block underline"></span>
                    <span class="bold block">DOB: </span>
                    <span class="bold block">Social Security # (last 4 digits)</span>
                  </div>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
    </div>
  </body> -->