

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
  }
  
  .content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 45px;
  }
  
  footer {
    background-color: #571442;
    color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
  }
  