<!-- <app-header></app-header> -->
 <!-- <router-outlet></router-outlet> -->

<!-- <app-homepage></app-homepage> -->
<!-- <app-quiz></app-quiz> -->
<!-- <app-dummy></app-dummy> -->
<!-- <app-userlist></app-userlist> -->

<!-- <app-follow></app-follow> -->
<!-- <app-follow-count></app-follow-count> -->
<!-- <app-chat></app-chat> -->

<!-- developer-2 components -->
                             

<!-- <app-chat></app-chat> -->

<!-- <app-mentordashboard></app-mentordashboard> -->

<!-- <app-menotperspectve></app-menotperspectve>
<router-outlet></router-outlet> -->

   <!-- <app-coursedashboard></app-coursedashboard> -->
 <!-- <app-student-dashboard></app-student-dashboard> -->
 <!-- <app-enrollment-payment-form></app-enrollment-payment-form> -->
 <!-- <app-create-assessment-dialog></app-create-assessment-dialog> -->
<!-- developer-2 components -->
 <!-- <app-mentor-perspective></app-mentor-perspective> -->
 
<!-- <app-mentordashboard></app-mentordashboard> -->

<!-- <app-menotperspectve></app-menotperspectve> -->
<!-- <app-metricsview></app-metricsview> -->

 
  <!-- <app-courselanding></app-courselanding> -->


  <!-- <app-userlist></app-userlist> -->
  <!-- <app-follow></app-follow> -->
  <!-- <app-followcount></app-followcount> -->

<!-- <app-courselandpage></app-courselandpage> -->
<!-- <app-learning-page></app-learning-page> -->
  <!-- <app-courselandpage></app-courselandpage> -->
<!-- <app-candidate-dashboard></app-candidate-dashboard> -->
  <!-- <app-courselanding></app-courselanding> -->
   <!-- <app-mentornaddcourse></app-mentornaddcourse> -->
    <!-- <app-courselanding></app-courselanding> -->

<!-- <app-assignment></app-assignment>  --> 
 <!-- <app-chat></app-chat> -->
<!-- <app-login></app-login> -->
<!-- <app-footer></app-footer> -->


 <!-- <app-student-dashboard></app-student-dashboard> -->
 

  <!-- <app-footer></app-footer> -->
 
  <!-- <app-footer></app-footer> -->


  <!-- <app-footer></app-footer> -->

   <!-- <app-mentornaddcourse></app-mentornaddcourse> -->
    <!-- <app-courselanding></app-courselanding> -->

<!-- <app-candidate-activties></app-candidate-activties> -->
 <!-- <app-candidate-dashboard></app-candidate-dashboard> -->
  <app-header></app-header>
  <main class="content-container">
    <router-outlet></router-outlet>
  </main>
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- <app-footer></app-footer>  -->

<!-- <app-usersprofile></app-usersprofile> -->
<!-- <app-assignment></app-assignment> -->
  <!-- <app-mentorquiz></app-mentorquiz> -->
   <!-- <app-learning-page></app-learning-page> -->
  <!-- <app-footer ></app-footer> -->
<!-- <app-project></app-project> -->
<!-- <app-studentdashboard></app-studentdashboard> -->

  <!-- <app-header></app-header> -->

<!-- <app-module></app-module> -->
  <!-- <main class="content-container">
    
  
<app-menotperspectve></app-menotperspectve> -->

  <!-- <app-footer></app-footer> -->
<!--  -->
  <!-- <app-header></app-header>
  <main class="content-container">
    <router-outlet></router-outlet>
  </main> -->
  <!-- <app-mentoronline></app-mentoronline> -->
  <!-- <app-testing-component></app-testing-component> -->
  <!-- <app-footer></app-footer> -->


  <!-- <app-subregister></app-subregister> -->
  <!-- <app-sublogin></app-sublogin> -->

    <!-- <app-student></app-student> -->
<!-- <app-student-dashboard></app-student-dashboard> -->
  <!-- <app-module></app-module> -->

     <!-- <app-learning-page></app-learning-page> -->

   <!-- <app-learning-page></app-learning-page> -->

  <!-- <app-footer></app-footer> -->
  <!-- <app-coursecontent></app-coursecontent> -->
   <!-- <app-course-create-mentor></app-course-create-mentor> -->
    <!-- <app-mock></app-mock> -->
    <!-- <app-slotdetails></app-slotdetails>
    <app-studentmock></app-studentmock>
    <app-mock></app-mock> -->
    <!-- <app-aiquiz></app-aiquiz> -->
     <!-- <app-mock-activity></app-mock-activity> -->
      <!-- <app-personal-details></app-personal-details> -->
       <!-- <app-mock-feedback></app-mock-feedback> -->
        <!-- <app-mock-mentor-activity></app-mock-mentor-activity> -->
    
       
    


