<div class="body">
  <nav>
    <div class="nav-left">
      <a href="#" class="nav-link nav-txt">{{ currentTab }}</a>
    </div>
    <div class="welcomeMessage">
      <p>Welcome, {{ welcomeMessage }}</p>
    </div>
    <div class="nav-right">
      <!-- <p>Welcome, {{ welcomeMessage }}</p> -->
      <span>{{ name }}</span>
      <img class="user-picture" [src]="newImage ? newImage : (userImage ? userImage : '../../assets/download.png')" alt="" (click)="navigateToProfile()">
    </div>
  </nav>
    <div class="main-container">
        <div class="left-content">
            <div class="wrapper">
                <div class="sidnav">
                  <ul class="ulList">
                    <li *ngFor="let tab of tabs" class="profileList" [class.active]="currentTab === tab" (click)="setCurrentTab(tab)">
                      <span class="Inspan">{{ tab }}</span>
                    </li>
                  </ul>
                </div>
              </div> 
        </div>  
    <div class="right-content">
        <div *ngIf="currentTab === 'Dashboard'" class="profilebox">
            <div class="profile-container">
              <div class="card-client">
                <div class="user-picture1">
                  <img 
  [src]="userImage || '../../assets/download.png'" 
  alt="" 
  (click)="navigateToProfile()" 
  style="width:80px; height:80px; border-radius: 50%;" 
/>

                  <!-- <img [src]="userImage ? userImage : (userImage ? userImage : '../../assets/download.png')" alt="" (click)="navigateToProfile()" style="width: 100px;height: 100px;border-radius: 50%;"> -->

                    <!-- <img src=""  style="width: 100px;height: 100px;border-radius: 50%;"> -->
                </div>
                <p class="name-client">{{ name }}
                </p>
                <!-- <hr  class="social-media"> -->
                <p class="designation">{{ role }}</p>
                <!-- <div class="social-media">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
                        </svg>
                        <span class="tooltip-social">Twitter</span>
                    </a>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
                        </svg>
                        <span class="tooltip-social">Instagram</span>
                    </a>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"></path>
                        </svg>
                        <span class="tooltip-social">Facebook</span>
                    </a>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path>
                        </svg>
                        <span class="tooltip-social">LinkedIn</span>
                    </a>
                </div> -->
            </div>
            <div class="card-next">
              <p class="userdata">   &nbsp; &nbsp; &nbsp; {{ name }} <span>{{userDescription}}</span></p>
              <!-- <p> {{userDescription}}</p> -->
             
              <!-- <p style="margin: 15px;margin-top: 40px;">{{ name }} is a seasoned mentor with years of experience in various fields. He has a passion for guiding individuals towards their goals and helping them unlock their full potential.</p> -->
              <!-- <p style="margin: 15px;">With a background in  {{ name }} brings a wealth of knowledge and expertise to his mentoring sessions. He believes in a personalized approach, tailoring his advice to suit the unique needs and aspirations of each mentee.</p> -->
              <!-- <p style="margin: 10px;">Throughout his career, John has mentored countless individuals, providing valuable insights, practical tips, and constructive feedback. His dedication to helping others succeed has earned him a reputation as a trusted mentor and advisor.</p> -->
              <!-- <p style="margin: 15px;">Throughout his career, John has mentored countless individuals, providing valuable insights, practical tips, and constructive feedback. His dedication to helping others succeed has earned him a reputation as a trusted mentor and advisor.</p> -->

            </div>
            </div>


            <!-- New Flex Container -->
           
            <div class="header-container">
                          <input type="text" id="search-bar" class="inp-dash-search" style="width: 50px; margin-right: 82px; margin-left: 26px;" placeholder="Search...">
                          <div class="radio-buttons">
                            <label><input type="radio" name="course-type" value="in-progress" [(ngModel)]="selectedCourseType" (change)="onCourseTypeChange()"> In Progress</label>
                            <label><input type="radio" name="course-type" value="completed" [(ngModel)]="selectedCourseType" (change)="onCourseTypeChange()"> Completed</label>
                          </div>
                          <button class="button btn8" (click)="togglePopup()">Add Content</button>
                        </div>
                       
                        <div *ngIf="filteredCoursesList && filteredCoursesList.length > 0">
                          <h3>Courses:</h3>
                          <ul>
                            <li *ngFor="let course of filteredCoursesList">
                              <!-- Display course details here -->
                              {{ course.courseTitle }} - {{ course.coursePercentage }}%
                            </li>
                          </ul>
                        </div>
                        <div *ngIf="filteredCoursesList && filteredCoursesList.length === 0">
                          <p>No courses found.</p>
                        </div>
             
            <hr>



            <div class="course-card coursecompleyeprogress" *ngFor="let item of filteredCoursesList; let i = index">
              <img [src]="image(item.courseImage)" alt="Course Image" class="course-image">
              <div class="course-details">
                <div class="course-info">
                  <div>
                    <h2 class="course-title">{{ item.courseTitle }}</h2> <!-- Bind course title -->
                    <p class="last-updated">Last updated: {{ item.updatedAt | date:'medium' }}</p> <!-- Display last updated timestamp -->
                  </div>
                  <div class="course-actions">
                    <button class="icon-button edit-button" (click)="navigateToUpdateCoursID(item.id)">
                      <i class="fas fa-edit"></i>
                    </button>
                    <button (click)="deleteCoureseByCouseID(item.id)" class="icon-button delete-button">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </div>
                </div>
                <div class="course-progress">
                  <progress [value]="item.coursePercentage" max="100"></progress>
                  <span>{{ item.coursePercentage }}%</span> <!-- Show percentage -->
                </div>
              </div>
            </div>
            
            
            <!-- Popup Modal -->
            <div *ngIf="showPopup" class="popup-overlay">
              <div class="popup-content">
                <button class="close-button" (click)="togglePopup()">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 6L6 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 6L18 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </button>
                <div class="cards123">
                  <div class="card456 red">
                      <p class="tip" (click)="navCourse()">Add Course</p>
                      <!-- <p class="second-text">Lorem Ipsum</p> -->
                  </div>
                  <div class="card456 blue">
                      <p class="tip">Add practice Test</p>
                      <!-- <p class="second-text">Lorem Ipsum</p> -->
                  </div>
                  <div class="card456 green">
                      <p class="tip">Add Mock Interview</p>
                      <!-- <p class="second-text">Lorem Ipsum</p> -->
                  </div>
              </div>
              </div>
            </div>
        </div>
         
      
<div *ngIf="currentTab === 'StudentAnalytics'">
 
 
          <hr>
   
         
 
 
 
 
 
 
 
         <div class="bgcolor">
         
            <!-- /////////////////////////newly added container/////////////////////////////////////////////////////////////////////////////////////// -->
           
            <div class="dashboard-container">
           
              <div class="metrics-container">
           
                <mat-card class="metric-card">
           
                  <mat-card-title>{{totalCourses}}</mat-card-title>
           
                  <mat-card-subtitle>Total Courses</mat-card-subtitle>
           
                  <mat-icon>school</mat-icon>
           
                </mat-card>
           
                <mat-card class="metric-card">
           
                  <mat-card-title>{{activeStudents}}</mat-card-title>
           
                  <mat-card-subtitle>Active Students</mat-card-subtitle>
           
                  <mat-icon>people</mat-icon>
           
                </mat-card>
           
                <mat-card class="metric-card upcoming">
           
                  <mat-card-title>{{upcomingClasses}}</mat-card-title>
           
                  <mat-card-subtitle>Upcoming Events</mat-card-subtitle>
           
                  <mat-icon>event</mat-icon>
           
                </mat-card>
           
                <mat-card class="metric-card">
           
                  <mat-card-title>{{pendingAssignments}}</mat-card-title>
           
                  <mat-card-subtitle>Pending Assignments</mat-card-subtitle>
           
                  <mat-icon>assignment</mat-icon>
           
                </mat-card>
           
              </div>
           
 
             
 
 
 
              <div class="charts-container">
                <div class="distcontainer">
                  <mat-card class="chart-card coursedistsection">
                    <div class="course-d">
                      <mat-card-title>Course Distribution</mat-card-title>
                      <h6 class="enro">Enrollers</h6>
                    </div>
                    <mat-card-content>
                      <div class="course-cards-container1" style="display: flex; flex-wrap: wrap; height: 400px; overflow-y: auto;">
                        <div *ngFor="let item of CoursesList; let i = index" style="display: flex; flex-direction: row; margin-bottom: 20px;">
                          <div style="display: flex;">
                            <div class="courseimgcourse" style="margin-right: 20px;">
                              <div class="course-card2 coursecompleyeprogress">
                                <img [src]="image(item.courseImage)" alt="Course Image" class="course-image">
                                <div class="course-details">
                                  <div class="course-info">
                                    <div>
                                      <h2 class="course-title" style="margin-top: -25px;">{{ item.courseTitle }}</h2> <!-- Bind course title -->
                                      <p class="last-updated">Last updated: {{ item.updatedAt | date:'medium' }}</p>
                                      <!-- Display last updated timestamp -->
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- User Enrollers -->
                            <div class="userescourse">
                              <div class="userescourse-details">
                                <!-- <h3>Enrollers ({{ getEnrollmentCount(item.id) }})</h3> -->
                                <!-- <ul>
                                  <li *ngFor="let user of enrollmentData[item.id]">
                                    {{ user.enrollmentDate | date:'medium' }}
                                  </li>
                                </ul> -->
                                <p class="enrollment-count" style="margin-left: 45px;font-size: 1.2em;"> {{ getEnrollmentCount(item.id) }}</p>                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
               
               
               
                <mat-card class="chart-card  upcmng-classs">
           
                  <mat-card-title>Upcoming Classes</mat-card-title>
           
                  <mat-card-content>
           
                    <mat-list>
           
                      <mat-list-item *ngFor="let class of upcomingClassesList">
                        <div></div>
             
           
                        <h3 class="upcoming1" style="font-size: medium;line-height: 15px;" matLine>{{class.name}}</h3>
           
                        <p class="upcoming2" style="font-size: medium;line-height: 15px;" matLine>{{class.date | date}} at
                         {{class.time}}</p>
                      </mat-list-item>    
                    </mat-list>
           
                  </mat-card-content>
           
                </mat-card>
           
              </div>
           
              <div class="actions-container" style="margin: auto;">
           
                <button mat-raised-button color="primary">Create New Assignment</button>
           
                <button mat-raised-button color="accent">Schedule Class</button>
           
                <button mat-raised-button color="warn">Message Students</button>
           
              </div>
           
            </div>
           
           
           
            <!-- /////////////////////////newly added container/////////////////////////////////////////////////////////////////////////////////////// -->
           
         
            <!-- <h2 style="margin-left: 410px;margin-top: 40px;">Feedback</h2>
            <div class="feedback-section">
                <div class="feedback-card" *ngFor="let comment of sortedComments; let i = index">
                    <p><strong>{{ comment.user }}</strong>: {{ comment.comment }}</p>
                    <p class="comment-date">{{ comment.date | date: 'short' }}</p>
                    <div class="comment-actions">
                        <button (click)="likeComment(i)"><i class="far fa-thumbs-up"></i></button>
                        <button (click)="toggleReplyInput(i)"><i class="fas fa-reply"></i></button>
                    </div>
                    <div *ngIf="showReplyInput[i]" class="reply-input">
                        <input [(ngModel)]="replyText[i]" placeholder="Write a reply...">
                        <button (click)="sendReply(i)">Send</button>
                    </div>
                    <div class="replies" *ngFor="let reply of comment.replies">
                        <p><strong>{{ reply.user }}</strong>: {{ reply.text }}</p>
                        <p class="comment-date">{{ reply.date | date: 'short' }}</p>
                    </div>
                </div>
            </div> -->
          </div>
        </div>
 
        <!-- ///////////////////////////////////StudentAnalytics end//////////////////////     -->




         <!-- ////////////////////// add announcenments //////////////////// -->
        <div *ngIf="currentTab === 'Announcenments'" class="announcenments-section">

          


          <!-- <div class="topInput">
           
           <div>
            <input type="text" class="dinput dinput2">
           </div>
            <div>
              <button class="dinput dButton">Post</button>
            </div>
          </div> -->
           
          <div class="dannouncements">
            <div class="topInput">
              <div>
                <input type="text" class="dinput dinput2" [(ngModel)]="newPostTitle" placeholder="Enter title">
              </div>
              <div>
                <input type="text" class="dinput dinput2" [(ngModel)]="newPostDescription" placeholder="Enter description">
              </div>
              <div>
                <button class="dinput dButton" (click)="addPost()">Post</button>
              </div>
            </div>
  
            <h4 class="dh4">Previous Posts:-</h4>
          <div class="scrollable-content">
            <!-- <h4>Previous Posts</h4> -->
            <div *ngFor="let item of scrollableContent" class="dScrollContent">
              <div>
                <h5>{{ item.title }}</h5>
              </div>
              <div>
                {{ item.description }}
              </div>
              <div>
                <small>{{ item.timestamp | date:'short' }}</small> 
              </div>
              <hr>
            </div>
          </div>
          </div>
        

        <div>
        </div>
        
        </div>
        </div>
        <!-- ////////////////////// add short //////////////////// -->
 
        <div *ngIf="currentTab === 'Addshort'" class="shorts-section">
          <div class="addshort-section">
            <h2 class="addshortHeading">Add Short</h2>
          <form (ngSubmit)="onUpload()">
            <input type="file" (change)="onFileSelected($event)" />
            <button type="submit">Upload Short Video</button>
          </form>
        </div>
         
        <div *ngIf="shortVideos.length" class="getshort-section">
          <div class="video-grid">
            <div *ngFor="let video of shortVideos">
              <p>{{ video.title }}</p>
              <video [src]="video.src" controls></video>
            </div>
          </div>
        </div>
       
          <div *ngIf="!shortVideos.length">
            <p>No short videos available.</p>
          </div>
        </div>
 

        <!-- //////////////////////////////////////////////////////////////////////////////////////////// -->

        <div *ngIf="currentTab === 'Activities'" class="activities-section">
                <h5>Student Activities</h5>
             
                <div>
                  <div class="check">
                    <div class="boxer">
                      <div>
                        <label for="activity-course-select">Select Course:</label>
                        <select id="activity-course-select" (click)="fetchCourseData(userId)" (change)="onActivityCourseChange($event)">
                          <option value="">--Select Course--</option>
                          <option *ngFor="let activityCourse of activityCourses" [value]="activityCourse.id">
                            {{ activityCourse.name }}
                          </option>
                        </select>
                      </div>
                      <div class="boxer" *ngIf="selectedActivityCourse">
                        <label for="term-type-select">Select Course Type:</label>
                        <select id="term-type-select" (change)="onTermTypeChange($event)">
                          <option value="">--Select Course Type--</option>
                          <option *ngFor="let termType of termTypes" [value]="termType">{{ termType }}</option>
                        </select>
                      </div>
                     
                    </div>
                   
               
                    <div class="boxer" *ngIf="selectedTermType === 'Long Term'">
                      <label for="activity-module-select">Select Module:</label>
                      <select id="activity-module-select" (change)="onActivityModuleChange($event)">
                        <option value="">--Select Module--</option>
                        <option *ngFor="let activityModule of activityModules" [value]="activityModule.id">{{activityModule.name}}</option>
                      </select>
                    </div>
               
                    <div class="boxer" *ngIf="(selectedTermType === 'Short Term' && selectedActivityCourse) || (selectedTermType === 'Long Term' && selectedActivityModule)">
                      <label for="activity-lesson-select">Select Lesson:</label>
                      <select id="activity-lesson-select" (change)="onActivityLessonChange($event)">
                        <option value="">--Select Lesson--</option>
                        <option *ngFor="let activityLesson of activityLessons" [value]="activityLesson.id">{{activityLesson.name}}</option>
                      </select>
                    </div>
               
                    <div class="boxer" *ngIf="selectedActivityLesson">
                      <label for="quiz-or-assessment-select">Select Task</label>
                      <select id="quiz-or-assessment-select" (change)="onQuizOrAssessmentChange($event)">
                        <option value="">--Select Task--</option>
                        <option value="quiz">Quiz</option>
                        <option value="assessment">Assessment</option>
                      </select>
                    </div>
               
                    <div class="boxer" *ngIf="selectedQuizOrAssessment === 'quiz'">
                      <label for="activity-quiz-select">Select Quiz:</label>
                      <select id="activity-quiz-select" (change)="onActivityQuizChange($event)">
                        <option value="">--Select Quiz--</option>
                        <option *ngFor="let activityQuiz of activityQuizzes" [value]="activityQuiz.id">{{activityQuiz.name}}</option>
                      </select>
                    </div>
               
                    <div class="boxer" *ngIf="selectedQuizOrAssessment === 'assessment'">
                      <label for="activity-assessment-select">Select Assessment:</label>
                      <select id="activity-assessment-select" (change)="onActivityAssessmentChange($event)">
                        <option value="">--Select Assessment--</option>
                        <option *ngFor="let activityAssessment of activityAssessments" [value]="activityAssessment.id">{{activityAssessment.name}}</option>
                      </select>
                    </div>
                  </div>
               
                  <div class="display" *ngIf="results">
                    <h3>Results:</h3>
                    <!-- <p>{{activityQuizResults}}</p> -->
                    <!-- Button to open the quiz report popup -->
                    <button class="quizrepbutton" (click)="openActivityQuizResults()">Show Report</button>
                  </div>
                </div>
               
             
             
             
                <!-- Activity Quiz Results Table Popup -->
        <div class="popup-results123" *ngIf="showActivityQuizResults">
          <div class="popup-content-results123">
            <span class="close-results123" (click)="closeActivityQuizResults()">&times;</span>
            <h2>Results</h2>
            <table class="results-table123">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>User Name</th>
                  <th>User ID</th>
                  <th>Marks</th>
                  <th>View</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let result of activityQuizResults; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{result.userName}}</td>
                  <td>{{result.userId}}</td>
                  <td>{{result.marks}}</td>
                  <td><button style="background-color: #124E66;
        color:white;" (click)="openActivityQuizReport(result)">View</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
         
        <!-- Activity Quiz Report Popup -->
        <div class="xyz" *ngIf="showActivityQuizReport">
          <div class="xyz-content">
            <span class="close-xyz" (click)="closeActivityQuizReport()">&times;</span>
            <div class="quiz-report-xyz">
              <h3>Report for {{ activityQuizAttemptData.userName }} - {{ activityQuizAttemptData.quizTitle }}</h3>
              <div class="report-details-xyz">
                <table>
                  <thead>
                    <tr>
                      <th>Question</th>
                      <th>Selected Option</th>
                      <th>Correct Option</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let question of activityQuizAttemptData.questions">
                      <td>{{ question.question }}</td>
                      <td>{{ question.selectedOption }}</td>
                      <td>{{ question.correctOption }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="overall-marks">
                <p>Overall Marks: {{ calculateActivityOverallMarks() }}</p>
              </div>
              <div class="input-section">
                <input type="text" [(ngModel)]="activityFeedbackMessage" placeholder="Enter activity feedback message">
                <button class="send-button-xyz" (click)="sendActivityFeedback()">Send</button>
              </div>
            </div>
          </div>
        </div>
         
         
         
             
              </div>
         
        
      </div>
              
          
<!-- ///////////////////////////////////right content end//////////////////////     -->
    </div>
       
            


